.container {
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
}

.link {
    color: white;
    font-size: 20px;
    font-family: system-ui;
    text-decoration: none;
}

.dark-mode {
    background-color: black;
    color: white;
}